<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FALT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fresno's Audiovisual Lexicon Tool">
    <meta name="author" content="hi@cameronbriar.com">
    <!--link href="/static/ui/css/blitzer/jquery-ui-1.8.21.custom.css" rel="stylesheet"-->
    <link href="/static/css/style.css" rel="stylesheet">
    <link id="stylesheet" href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/keys.css" type="text/css" />
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body style="min-width:700px">
    <div class="navbar navbar-top" style="top:0px;">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="."><strong>FALT : </strong>Fresno Audiovisual Lexicon Tool</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-question-sign"></i> Info
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:toggleHelp();">About</a></li>
              <li><a href="javascript:toggleSettings();">Settings</a></li>
              <li class="divider"></li>
              <li><a href="http://76.20.66.208:3000/falt">Blog</a></li>
              <li class="divider"></li>
              <li><a href="#" id="changeStyle" count="3">Style</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3" id="unit_1">
          <div class="well sidebar-nav" style="text-align:center">
            <ul class="nav nav-list">
              <li class="nav-header">Enter Words Here</li>
          <form id="newWord" action="">
              <li><input type="text" class="input-small search-query" id="wordSubmit"/></li>
              <li><button class="btn btn-mini" id="wordAdd"/>Add</button></li>
          </form>
              <li class="nav-header"><a id="uploadFile">Or Upload a File</a></li>
              <li class="nav-header">
              <input id="fileInput" type="file" style="display:none">
                <div id="fileInputContainer">
              <button class="btn btn-primary" onclick="$('input[id=fileInput]').click();"><i class="icon-upload icon-white"></i></button>            
            </div>
            <h6 id="fileInputNotSupported">Your browser does not support File IO</h6>
              </li>
              <li class="divider"></li>
			        <li class="nav-header">Status</li>
			     </br>
			       <div id="status" style="min-height:100px; max-height:200px; overflow:auto;"></div>
              <li class="divider"></li>
    <li class="nav-header">Word Bank</li>
        <div id="newWords" style="max-height:350px; overflow:auto;"></div>
        <li class="divider"></li>
        <li class="nav-header"><a id="showResults" href="javascript:return false;" target="_blank_">Show Results</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
          <div class="well" style="min-width:25%; overflow:show;">
            <div class="row-fluid">
              <div style="text-align:center; max-height:550px; overflow:auto;" id="unit_3">
                <div style="width:90%; margin:0 auto; position:relative;">
                <table class="table table-bordered" style="width:100%; position:relative;">
                  <tr><th colspan="4" class="centered"><h2 id="mainWord" style="display:inline">Fresno Audiovisual Lexicon Tool</h2><span style="float:right; display:inline;"><i class="icon-volume-up"></i></span></th></tr>
                    <tr><th colspan="2" class="centered"><span style="font-size:24px; letter-spacing:5px;" id="mainWordSymbolized"></span></th>
                    <th colspan="2" class="centered"><span style="font-size:20px; letter-spacing:5px;" id="mainWordVisemes"></span></th></tr>
                    <tr><th class="centered"><h3>ARPA</h3></th><td class="centered"><span style="font-size:18px;" id="mainWordARPA"></span></td><th class="centered"><h3>IPA</h3></th><td class="centered"><span style="font-size:22px;" id="mainWordIPA"></span></td></tr>
                    <tr><th class="centered"><h3>Internal</h3>
                      <h5><a href="#" id="showInternals">Show <span id="mainWordInternalCount"></span> Internal Words</a>
<div id="internalCanvas" style="margin:0 auto; max-width:325px; height:200px; position:relative;">
 <canvas style="position:relative; width:100%; height:100%; z-index:10;" id="iCanvas">
  <p>Your browser does not support canvas.</p>
  <ul id="internalCloud">

  </ul>
 </canvas>
</div>                   </th>
                        <td class="centered"><div style="max-height:260px; overflow:auto; font-size:18px;" id="mainWordInternalWords"></div></td><th class="centered"><h3>External</h3>
                        <h5><a href="#" id="showExternals">Show <span id="mainWordExternalCount"></span> External Words</a>
<div id="externalCanvas" style="margin:0 auto; max-width:325px; height:200px; position:relative;">
 <canvas style="position:relative; width:100%; height:100%; z-index:10;" id="eCanvas">
  <p>Your browser does not support canvas.</p>
  <ul id="externalCloud">

  </ul>
 </canvas>
</div>
                        </th><td class="centered"><div style="max-height:260px; overflow:auto; font-size:18px;" id="mainWordExternalWords"></div></td></tr>
                    <tr><th colspan="4" class="centered"><h3>Average Frequency</h3></th></tr>
                    <tr><th class="centered"><h6>Word</h6></th>
                      <th class="centered"><h6>Internal</h6></th>
                      <th class="centered"><h6>External</h6></th>
                      <th class="centered"><h6>Total</h6></th></tr>
                      <tr>
                        <td class="centered" id="mainWordFrequency"></td>
                        <td class="centered" id="mainWordInternalFrequency"></td>
                        <td class="centered" id="mainWordExternalFrequency"></td>
                        <td class="centered" id="mainWordTotalFrequency"></td>
                      </tr>
                    <!--tr><th colspan="4" class="centered"><h3><a href="#">Chart</a></h3></th></tr>
                    <tr><td colspan="4"><div id="chart" style="padding:15px;">
                      <div id="graph" style="z-index:5; width:100%; height:250px; border:1px solid #ccc;"></div>
                    </div></td></tr-->
                  </table>
                </div>
              </div>
          </div>
      	  </div>
          <div class="row-fluid" style="text-align:center">
            <div class="span6" id="unit_4">
              <h2 id="transcription">Phonemes</h2>
              	<h2 id="loading"><img src="/static/loading.gif" style="width:20px; padding:10px 0px 5px 0px;" /><p>Loading</p></h2>
              <p>
		<div class="pagination" style="text-align:center">
		<ul><h4>
			<li id="phonetic"><a href="#phoneticIPA" data-toggle="tab">IPA</a></li>
			<li id="phonetic" class="active"><a href="#phoneticARPA" data-toggle="tab">ARPA</a></li>
			<li id="phonetic"><a href="#phoneticALPHA" data-toggle="tab">ALPHA</a></li>
		</h4></ul>
		</div>
			<div id="transcription" class="tab-content">
			<div class="tab-pane fade in" id="phoneticIPA">
				<p class="ipa">
			<button id="phon" class="btn" value="ipa">ʌ</button>
			<button id="phon" class="btn" value="ipa">ɑ</button>
			<button id="phon" class="btn" value="ipa">æ</button>
			<button id="phon" class="btn" value="ipa">ɛ</button>
			<button id="phon" class="btn" value="ipa">ə</button>
			<button id="phon" class="btn" value="ipa">ɜ</button>
			<button id="phon" class="btn" value="ipa">ɪ</button>
			<button id="phon" class="btn" value="ipa">i</button>
			<button id="phon" class="btn" value="ipa">ɒ</button>
			<button id="phon" class="btn" value="ipa">ɔ</button>
			<button id="phon" class="btn" value="ipa">ʊ</button>
			<button id="phon" class="btn" value="ipa">u</button>
			<button id="phon" class="btn" value="ipa">aɪ</button>
			<button id="phon" class="btn" value="ipa">aʊ</button>
			<button id="phon" class="btn" value="ipa">eɪ</button>
			<button id="phon" class="btn" value="ipa">oʊ</button>
			<button id="phon" class="btn" value="ipa">ɔɪ</button>
			<button id="phon" class="btn" value="ipa">eə</button>
			<button id="phon" class="btn" value="ipa">ɪə</button>
			<button id="phon" class="btn" value="ipa">ʊə</button>
      <button id="phon" class="btn" value="ipa">ɝ</button>
			<button id="phon" class="btn" value="ipa">p</button>
			<button id="phon" class="btn" value="ipa">b</button>
			<button id="phon" class="btn" value="ipa">t</button>
			<button id="phon" class="btn" value="ipa">d</button>
			<button id="phon" class="btn" value="ipa">tʃ</button>
			<button id="phon" class="btn" value="ipa">dʒ</button>
			<button id="phon" class="btn" value="ipa">k</button>
			<button id="phon" class="btn" value="ipa">ɡ</button>
			<button id="phon" class="btn" value="ipa">f</button>
			<button id="phon" class="btn" value="ipa">v</button>
			<button id="phon" class="btn" value="ipa">θ</button>
			<button id="phon" class="btn" value="ipa">ð</button>
			<button id="phon" class="btn" value="ipa">s</button>
			<button id="phon" class="btn" value="ipa">z</button>
			<button id="phon" class="btn" value="ipa">ʃ</button>
			<button id="phon" class="btn" value="ipa">ʒ</button>
			<!--button id="phon" class="btn" value="ipa">x</button-->
			<button id="phon" class="btn" value="ipa">h</button>
			<button id="phon" class="btn" value="ipa">m</button>
			<button id="phon" class="btn" value="ipa">n</button>
			<button id="phon" class="btn" value="ipa">ŋ</button>
			<button id="phon" class="btn" value="ipa">l</button>
			<button id="phon" class="btn" value="ipa">r</button>
			<button id="phon" class="btn" value="ipa">w</button>
			<button id="phon" class="btn" value="ipa">j</button>
			<!--button id="phon" class="btn" value="ipa">hw</button-->
    			</p>
    		</div>
			<div class="tab-pane fade active in" id="phoneticARPA">
    			<p class="arpa">
			<button id="phon" class="btn" value="arpa">AA</button>
			<button id="phon" class="btn" value="arpa">AE</button>
			<button id="phon" class="btn" value="arpa">AH</button>
			<button id="phon" class="btn" value="arpa">AO</button>
			<button id="phon" class="btn" value="arpa">AW</button>
			<button id="phon" class="btn" value="arpa">AY</button>
			<button id="phon" class="btn" value="arpa">B</button>
			<button id="phon" class="btn" value="arpa">CH</button>
			<button id="phon" class="btn" value="arpa">D</button>
			<button id="phon" class="btn" value="arpa">DH</button>
			<button id="phon" class="btn" value="arpa">EH</button>
			<button id="phon" class="btn" value="arpa">ER</button>
			<button id="phon" class="btn" value="arpa">EY</button>
			<button id="phon" class="btn" value="arpa">F</button>
			<button id="phon" class="btn" value="arpa">G</button>
			<button id="phon" class="btn" value="arpa">HH</button>
			<button id="phon" class="btn" value="arpa">IH</button>
			<button id="phon" class="btn" value="arpa">IY</button>
			<button id="phon" class="btn" value="arpa">JH</button>
			<button id="phon" class="btn" value="arpa">K</button>
			<button id="phon" class="btn" value="arpa">L</button>
			<button id="phon" class="btn" value="arpa">M</button>
			<button id="phon" class="btn" value="arpa">N</button>
			<button id="phon" class="btn" value="arpa">NG</button>
			<button id="phon" class="btn" value="arpa">OW</button>
			<button id="phon" class="btn" value="arpa">OY</button>
			<button id="phon" class="btn" value="arpa">P</button>
			<button id="phon" class="btn" value="arpa">R</button>
			<button id="phon" class="btn" value="arpa">S</button>
			<button id="phon" class="btn" value="arpa">SH</button>
			<button id="phon" class="btn" value="arpa">T</button>
			<button id="phon" class="btn" value="arpa">TH</button>
			<button id="phon" class="btn" value="arpa">UH</button>
			<button id="phon" class="btn" value="arpa">UW</button>
			<button id="phon" class="btn" value="arpa">V</button>
			<button id="phon" class="btn" value="arpa">W</button>
			<button id="phon" class="btn" value="arpa">Y</button>
			<button id="phon" class="btn" value="arpa">Z</button>
			<button id="phon" class="btn" value="arpa">ZH</button>
    			</p>
    		</div>
			<div class="tab-pane fade in" id="phoneticALPHA">
    			<p class="alpha">
			<button id="phon" class="btn" value="alpha">A</button>
			<button id="phon" class="btn" value="alpha">B</button>
			<button id="phon" class="btn" value="alpha">C</button>
			<button id="phon" class="btn" value="alpha">D</button>
			<button id="phon" class="btn" value="alpha">E</button>
			<button id="phon" class="btn" value="alpha">F</button>
			<button id="phon" class="btn" value="alpha">G</button>
			<button id="phon" class="btn" value="alpha">H</button>
			<button id="phon" class="btn" value="alpha">I</button>
			<button id="phon" class="btn" value="alpha">J</button>
			<button id="phon" class="btn" value="alpha">K</button>
			<button id="phon" class="btn" value="alpha">L</button>
			<button id="phon" class="btn" value="alpha">M</button>
			<button id="phon" class="btn" value="alpha">N</button>
			<button id="phon" class="btn" value="alpha">O</button>
			<button id="phon" class="btn" value="alpha">P</button>
			<button id="phon" class="btn" value="alpha">Q</button>
			<button id="phon" class="btn" value="alpha">R</button>
			<button id="phon" class="btn" value="alpha">S</button>
			<button id="phon" class="btn" value="alpha">T</button>
			<button id="phon" class="btn" value="alpha">U</button>
			<button id="phon" class="btn" value="alpha">V</button>
			<button id="phon" class="btn" value="alpha">W</button>
			<button id="phon" class="btn" value="alpha">X</button>
			<button id="phon" class="btn" value="alpha">Y</button>
			<button id="phon" class="btn" value="alpha">Z</button>
				</p>
			</div>
		</div>
              </p>
            </div>
            <div class="span6" id="unit_5">
              <h2 id="equivalence">Equivalence</h2>
              <p>
				<div class="btn-toolbar">
					<div class="btn-group" style="margin:0px -10px 0px -10px">
						<button class="btn" id="leftArrow">&lt;</button>
						<button class="btn" id="equivClass" name="equivClass">1</button>
						<button class="btn" id="equivClass" name="equivClass">2</button>
						<button class="btn" id="equivClass" name="equivClass">3</button>
						<button class="btn" id="equivClass" name="equivClass">4</button>
						<button class="btn" id="equivClass" name="equivClass">5</button>
						<button class="btn" id="equivClass" name="equivClass">6</button>
						<button class="btn" id="rightArrow">&gt;</button>
					</div>
				</div>
				<table class="table" id="classes">
					<thead><th class="centered" id="classNum" style="width:50%; position:relative;">1</th><th class="centered" id="classSym" style="width:50%; position:relative;">&#9641;</th></thead>
					<tr><td colspan="2" class="centered">
						<span id="grouped">
						</span>
					</td></tr>
				</table>
            <h3>Presets</h3>
          </hr>
              	<div style="padding:10px">
              	<div id="slider"></div><label for="amount">Set</label>
              	<span id="amount" style="font-weight:bold;"></span>
                <p>
                <div class="btn-toolbar">
                  <div id="presets" class="btn-group">
                    <button id="preset" class="btn btn-primary" style="cursor:pointer">0</button>
                    <button id="preset" class="btn btn-primary" style="cursor:pointer">1</button>
                    <button id="preset" class="btn btn-primary" style="cursor:pointer">2</button>
                    <button id="preset" class="btn btn-primary" style="cursor:pointer">10</button>
                    <button id="preset" class="btn btn-primary" style="cursor:pointer">12</button>
                    <button id="preset" class="btn btn-primary" style="cursor:pointer">19</button>
                    <button id="preset" class="btn btn-primary" style="cursor:pointer">28</button>
                  </div>
              </div>
                <div class="btn-toolbar">
                  <div class="btn-group">
                    <button id="betType" class="btn" style="cursor:pointer">IPA</button>
                    <button id="betType" class="btn" style="cursor:pointer">ARPA</button>
                  </div>
                </div>
                </p>
              </div>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <footer>
        <p><img src="/static/seal.png" style="width:150px" /> <small>Keyboard : <kbd style="font-size:18px">K</kdb></small><a href="javascript:scrollTop();" style="float:right">To Top</a></p>
      </footer>
    </div>
<!-- Modals -->
  <div id="keyboard_modal" class="modal hide">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>Keyboard Commands</h3>
            </div>
            <div class="modal-body">
              <table class="table" style="width:100%">
                <thead>
                  <th>Key</th><th>Name</th><th>Function</th>
                </thead>
                <tbody>
                  <tr><td><kbd style="font-size:18px">H</kdb></td><td>H-KEY</td><td>HELP</td></tr>
                  <tr><td><kbd style="font-size:18px">S</kdb></td><td>S-KEY</td><td>SETTINGS</td></tr>
                  <tr><td><kbd style="font-size:18px">K</kdb></td><td>K-KEY</td><td>KEYBOARD MENU</td></tr>
                  <tr><td><kbd style="font-size:18px">T</kdb></td><td>T-KEY</td><td>STYLE</td></tr>
                  <tr><td><kbd style="font-size:18px">V</kdb></td><td>V-KEY</td><td>VISEME CLASS REFERENCE</td></tr>
                  <tr><td><kbd style="font-size:18px"><i class="icon-arrow-left"></i></kbd></td><td>LEFT ARROW</td><td>PREVIOUS CLASS</td></tr>
                  <tr><td><kbd style="font-size:18px"><i class="icon-arrow-right"></i></kbd></td><td>RIGHT ARROW</td><td>NEXT CLASS</td></tr>
                </tbody>
              </table>
              <hr>

            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>

            </div>
          </div>

	<div id="help_modal" class="modal hide">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>FALT Information</h3>
            </div>
            <div class="modal-body"> 
<div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  About the system
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                  <strong>FALT</strong> is designed to help investigate the similarities between audio-only communication and visual-only communication.
                </br></br>
                Audio-only communication is like covering your eyes and listening to a friend. The only transmission is the sound from your friend and your environment. Cake.
                </br></br>
                Visual-only communication, on the other hand, is like covering your ears to listen to a friend. Much more difficult. The ability to lipread helps when trying to verify what your interpretting compared to what is actually being said.
                </br></br>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  What does it do
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                <strong>Imagine this...</strong></br>You're operating a large crane with a hardhat and headphones on, when all of a sudden your boss hops on the hood and starts shouting instructions at you...</br></br>
                <h2>"Hurry up knucklehead and ▩ush that over there!"</h2></br>
                You're not exactly sure why he called you a knucklehead, but you're even more worried about the fact that your headphones prevented you from properly understanding that middle word. Was it <i>crush</i>? or maybe it was <i>rush</i>? They <b>looked</b> the same rolling of his tongue!</br></br>
                Long story short, you were fired for demolishing the cargo rather than hurrying it.</br></br>
                <b>FALT uses sets of <a href="http://en.wikipedia.org/wiki/Phoneme">phonemes</a> to establish groups of <a href="http://en.wikipedia.org/wiki/Viseme">visemes</a> to find visually similar words given an input of words.</b></br></br>
                <img src="/static/phonemic_equivalence_classes.png" /></br></br>
                For example, provided the word <b>rush</b> -- FALT would return the word <b>wash</b> because the 'ru' and 'wa' looks visually similar when spoken. 
                <a href="http://76.20.66.208:9000/main/?words=rush&size=28">See for yourself.</a>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                  How to use it
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                 <h3>The Easy Way</h3></br>
                 <p>
                  Using the web interface is by far the easiest way to interact with FALT.</br></br>
                  <h4><i class="icon-chevron-right"></i> The first step is to come up with words to query.</h4></br>
                  An example of such a query might be...<strong>a be sea potato</strong></br>
                  <img src="/static/add_words.png"/></br></br>
                  <h4><i class="icon-chevron-right"></i> Clicking the <button class="btn btn-small">Add</button> will append those words to the Word Bank.</h4></br>
                  <img src="/static/word_bank.png"/></br></br>
                  <h4>You might have noticed this status message popup...</h4></br>
                  <img src="/static/please_choose.png"/></br></br>
                  <p>These buttons represent how many different sets of phonemes should exist.<ul><li><b>Refer to <a href="javascript:toggleTable();">TABLE 1</a> in the 'What does it do' section</b></li><li id="equiv_table"><img src="/static/phonemic_equivalence_classes.png" /><p>Using this chart, select a preset from the interface to create equivalence classes.</p></b></li><li>This menu is the same as <i class="icon-chevron-down"></i></li><li><img src="/static/preset_choose.png" /></li></ul>
                  <h4><i class="icon-chevron-right"></i> Choose a preset.</h4></br></br>
                  <img src="/static/chose_preset.png" /></br><p>You may cycle through these presets to view the difference in results. <b>It's highly encouraged.</b></p></br>
                  <h4><i class="icon-chevron-right"></i> View the results!</h4></br><p>Using your mouse/finger to hover/touch each word in the Word Bank displays its corresponding results on the right.</p></br>
                  <img src="/static/hover_result.png" /></br><p><ul>
                  <li>Clicking the word in the bank displays all "internal" and "external" results.</li>
                  <li>Clicking 'Show Results' displays all the presentable data in JSON format.</li></ul>
                  </p></br>
                  <h4><i class="icon-question-sign"></i> What's going on?</h4></br><p>
                  Here are the results for <b>be</b> under preset <b>12</b></br><small>Note: Click <button class="btn">Increase Window Size</button> to make image larger.</small></br></br>
                  <img src="/static/results.png" /></br>
                  <dl class="dl-horizontal">
                    <dt>BE</dt><dd>This is the current focus word. All data is relative to this word. Click this area to hear the word spoken.</dd></br>
                    <dt>✈@</dt><dd>These symbols represent the word after being transcribed through the given preset. Since the word <b>be</b> is translated into <b>bi</b> in <b>IPA</b>, the phoneme <b>b</b> is in group 7 and the phoneme <b>i</b> is in group 3. The classes 7 and 3 are arbitrarily given a symbol, in this case: airplane and at.</dd></br>
                    <dt>7 3</dt><dd>These numbers represent the location of each phoneme in the word. You can find <b>b</b> at class 7 and <b>i</b> at class 3. <b>You may also click these numbers to be taken their quickly.</b></dd></br>
                    <dt>ARPA</dt><dd>The word <b>be</b> translated into <b>B IY1</b> using the ARPAbet.</dd></br>
                    <dt>IPA </dt><dd>The word <b>be</b> translated into <b>bi</b> using the IPAbet</dd></br>
                    <dt>Internal</dt><dd>The words in the <b>internal</b> set represent words that are visually the same as the word <b>be</b>. If you click 'Show Internal Words', you'll notice that the contained words all have the symbols ✈@. They are equivalent with a difference of 0.</dd></br>
                    <dt>External</dt><dd>The words in the <b>external</b> set represent words that are visually similar as the word <b>be</b>. If you click 'Show External Words', you'll notice that the contained words all have a symbole translation that is, by default, 1 difference from ✈@. This variable can be adjusted.</dd></br>
                    <dt>Word Clouds</dt><dd>These swirling words of awesomeness present a different way to view the internal and external data. Hover your mouse are the cloud and view the results. Use the mouse scrollwheel to zoom in/out. Click any word to add it to the Word Bank.</dd></br>
                    <dt>Average Frequency</dt><dd>This metric is thanks to WordNet's familiarity function. <b>Word</b> represents the frequency of the word <b>be</b>. <b>Internal</b> represents the average frequency of all the internal words. <b>External</b> represents the average frequency of all the external words. <b>Total</b> is the average frequency amongst the internal and external words.</dd></br>
                  </dl>
                  </p>
                 </p>
               </p>
                 <h3>The Custom Way</h3>
                 <p></p>
                 <h3>The Developer Way</h3>
                 <p></p>
                </div>
              </div>
              </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                  Glossary
                </a>
              </div>
              <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                <strong>List of Terms (Alphabetical)</strong></br>
                <dl class="dl-horizontal">
                  <dt>ARPA</dt>
                  <dd>Arpabet is a phonetic transcription code developed by Advanced Research Projects Agency (ARPA). It represents each phoneme of General American English with a distinct sequence of ASCII characters. Arpabet has been used in several speech synthesizers, like SAM for the Commodore 64, Say for the Amiga and TextAssist for the PC. It is also used in the CMU Pronouncing Dictionary.</dd>
                  <dd></br></dd>
                  <dt>CMU Dictionary</dt>
                  <dd>The CMU Pronouncing Dictionary (also known as cmudict) is a public domain pronouncing dictionary created by Carnegie Mellon University (CMU). It defines a mapping from English words to their North American pronunciations, and is commonly used in speech processing applications such as the Festival Speech Synthesis System and the CMU Sphinx speech recognition system. The latest release is 0.7a, which contains 133,746 entries (from 123,442 baseforms).</dd>
                  <dd></br></dd>
                  <dt>External</dt>
                  <dd>The "external" words are the words which were transcribed into a similar equivalence class. There is a difference of 1 or 2 (default: 1), meaning there is little visual difference when the words are spoken.</br>ie. 'rush' and 'one' are visually similar, but maybe slightly different.</dd>
                  <dd></br></dd>
                  <dt>Internal</dt>
                  <dd>The "internal" words are the words which were transcribed into the same equivalence class. There is a difference of 0, meaning there is very little visual difference when the words are spoken.</br>ie. 'rush' and 'wash' are visually equivalent.</dd>
                  <dd></br></dd>
                  <dt>IPA</dt>
                  <dd>The International Phonetic Alphabet (IPA) is an alphabetic system of phonetic notation based primarily on the Latin alphabet. It was devised by the International Phonetic Association as a standardized representation of the sounds of oral language. The IPA is designed to represent only those qualities of speech that are distinctive in oral language: phonemes, intonation, and the separation of words and syllables. To represent additional qualities of speech such as tooth gnashing, lisping, and sounds made with a cleft palate, an extended set of symbols called the Extensions to the IPA may be used.</dd>
                  <dd></br></dd>
                  <dt>Lexicon</dt>
                  <dd>In linguistics, the description of a language is split into two parts, the grammar consisting of rules describing correct sentence formation and the lexicon listing words and phrases that can be used in the sentences. The lexicon (or wordstock) of a language is its vocabulary.</dd>
                  <dd></br></dd>
                  <dt>Phoneme</dt>
                  <dd>A phoneme is a basic element of a spoken language or dialect, from which words in that language or dialect are analyzed as being built up. The phoneme is defined by the International Phonetic Association as "the smallest segmental unit of sound employed to form meaningful contrasts between utterances".</dd>
                  <dd></br></dd>
                  <dt>Phonemic Equivalence Class</dt>
                  <dd>A phonemic equivalence class comprises the set of phonemes rendered equivalent by the lostt of phonetic distinctiveness. (For example, if /b/, /p/, and /m/ belong to a single phonemic equivalence class, then a rule was deﬁned to transcribe each occurrence of /b/, /p/, and /m/ into a symbol representing the equivalence class.)</br></br><p>You can select a preset class by choosing from the following menu.</p>
                  <img src="/static/presets.png" /></br></br><a href="http://cloudedbox.com/FALT/auerandbernstein.pdf" target="_blank_">Read more.</a></dd>
                  <dd></br></dd>
                  <dt>Polysemy</dt>
                  <dd>A polyseme is a word or phrase with different, but related senses. Since the test for polysemy is the vague concept of relatedness, judgments of polysemy can be difficult to make. Because applying pre-existing words to new situations is a natural process of language change, looking at words' etymology is helpful in determining polysemy but not the only solution; as words become lost in etymology, what once was a useful distinction of meaning may no longer be so. Some apparently unrelated words share a common historical origin, however, so etymology is not an infallible test for polysemy, and dictionary writers also often defer to speakers' intuitions to judge polysemy in cases where it contradicts etymology. English has many words which are polysemous. For example the verb "to get" can mean "procure" (I'll get the drinks), "become" (she got scared), "have" (I've got three dollars), "understand" (I get it) etc.</dd>
                  <dd></br></dd>
                  <dt>Viseme</dt>
                  <dd>A viseme is a representational unit used to classify speech sounds in the visual domain. The term viseme was introduced based on the interpretation of the phoneme as a basic unit of speech in the acoustic/auditory domain, (Fisher, 1968). This is, however, at variance with the accepted definition of the phoneme as the smallest structural unit that distinguishes meaning within a given language—as a cognitive abstraction that is not bound to any sensory modality.</dd>
                  <dd></br></dd>
                  </dl>
                </div>
            </div>
          </div>
      </div>
              <hr>

            </div>
            <div class="modal-footer">
              <a href="#" class="btn" id="increase_modal" modal="help">Increase Window Size</a>
              <a href="#" class="btn" data-dismiss="modal" >Close</a>
            </div>
          </div>

	<div id="settings_modal" class="modal hide">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>Settings</h3>
            </div>
            <div class="modal-body">

<form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01">Maximum Difference</label>
            <div class="controls">
              <input type="text" class="input-small" id="settings_difference" placeholder="1">
              <p class="help-block">FALT uses <a href="http://wikipedia.com/wiki/Levenshtein_Distance" target="_blank_">Levenshtein distance</a>.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input01">Cloud Density</label>
            <div class="controls">
              <input type="text" class="input-small" id="settings_density" placeholder="100">
              <p class="help-block">HTML5 Cloud provided by <a href="http://www.goat1000.com/tagcanvas.php" target="_blank_">TagCanvas</a>.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="optionsCheckbox">Same Length Only</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" checked="yes" id="settings_same_length" value="SAMELENGTH">
                <p class="help-block">If checked, the external words will have the same amount of phonemes. The same amount of syllables, if you will.</p>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="optionsCheckbox">Prettify JSON Result</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" checked="yes" id="settings_prettify" value="PRETTIFY">
                <span style="color:#08C">SHOW RESULTS</span> will output JSON data more legibly. Pretty print.
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="select01">Current Style</label>
            <div class="controls">
              <select id="settings_style">
                <option>Bootstrap</option>
                <option>United</option>
                <option>SpaceLab</option>
                <option>Superhero</option>
                <option>Cerulean</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="textarea">Add New Words to Dictionary</label>
            <div class="controls">
              <textarea class="input-xlarge" id="settings_new_words" rows="3" placeholder="WORD  W ER1 D  wɚd"></textarea>
              <p class="help-block"><small>FALT currently uses around 90% of the <a href="http://www.speech.cs.cmu.edu/cgi-bin/cmudict/" target="_blank_">CMU Dictionary.</a> Thanks!</small></p>
              <p class="help-block">Words must be in exact format. ie:</br>
                <ul>
                  <li>2 spaces between each attribute</li>
                  <li>every new word on its own line</li>
                  <li>numbers in ARPA are optional</li>
                </ul>
                <pre>
WOOT  W UW1 T  wut
DOGFACE  D AO1 G F EY1 S  dɔɡfeɪs
GITHUB  G IH1 T HH AH1 B  ɡɪthʌb
</pre></p>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn" data-dismiss="modal">Cancel</button>
          </div>
        </fieldset>
      </form>
              <hr>

            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>

            </div>
          </div>

  <div id="symbols_modal" class="modal hide">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>Viseme Reference</h3>
            </div>
            <div class="modal-body">
              <hr>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>

            </div>
          </div>

<!-- idea: treat the HTML doc like XML and store the data to be referenced. -->
    <div style="display:none">
<ul class='classStorage' id='eclass1'></ul>
<ul class='classStorage' id='eclass2'></ul>
<ul class='classStorage' id='eclass3'></ul>
<ul class='classStorage' id='eclass4'></ul>
<ul class='classStorage' id='eclass5'></ul>
<ul class='classStorage' id='eclass6'></ul>
<ul class='classStorage' id='eclass7'></ul>
<ul class='classStorage' id='eclass8'></ul>
<ul class='classStorage' id='eclass9'></ul>
<ul class='classStorage' id='eclass10'></ul>
<ul class='classStorage' id='eclass11'></ul>
<ul class='classStorage' id='eclass12'></ul>
<ul class='classStorage' id='eclass13'></ul>
<ul class='classStorage' id='eclass14'></ul>
<ul class='classStorage' id='eclass15'></ul>
<ul class='classStorage' id='eclass16'></ul>
<ul class='classStorage' id='eclass17'></ul>
<ul class='classStorage' id='eclass18'></ul>
<ul class='classStorage' id='eclass19'></ul>
<ul class='classStorage' id='eclass20'></ul>
<ul class='classStorage' id='eclass21'></ul>
<ul class='classStorage' id='eclass22'></ul>
<ul class='classStorage' id='eclass23'></ul>
<ul class='classStorage' id='eclass24'></ul>
<ul class='classStorage' id='eclass25'></ul>
<ul class='classStorage' id='eclass26'></ul>
<ul class='classStorage' id='eclass27'></ul>
<ul class='classStorage' id='eclass28'></ul>
<ul class='classStorage' id='eclass29'></ul>
<ul class='classStorage' id='eclass30'></ul>
<!-- When the data loads from the server, it ends up here for searching. -->
<ul class='wordStorage'></ul>
<ul id="audio"></ul>
    </div>
  </body>
</html>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap-button.js"></script>
<script src="/static/js/bootstrap-collapse.js"></script>
<script src="/static/js/jquery-ui-1.8.21.custom.min.js" ></script>
<script src="/static/js/application.js" type="text/javascript"></script>
<!--script src="/static/js/highcharts.js" type="text/javascript"></script-->
<script src="/static/js/tagcloud.js" type="text/javascript"></script>
<script src="/static/js/speakClient.js" type="text/javascript"></script>

